language: c
compiler:
    - clang
    - gcc

os:
    - linux
    - osx

addons:
  apt:
    packages:
    - cmake

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install cmocka; fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./testing/install_cmocka.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PKG_CONFIG_PATH=/home/travis/lib/pkgconfig ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export LD_LIBRARY_PATH=LD_LIBRARY_PATH:/home/travis/lib/; fi

script:
  - make test
  - gcov sailing.c

after_success:
  - bash <(curl -s https://codecov.io/bash)
